:root {
  --helio-orange: hsl(23, 88.1%, 63.7%);
  --helio-lightblue: hsl(193, 65.9%, 75.9%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--helio-lightblue);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
