.panel {
  /* padding: 5rem 0; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.panel .logo {
  width: 418px;
  height: 157px;
}
.panel .arrow_containter {
  position: relative;
  height: 96px;
  width: 96px;
}
.panel .arrow_containter img {
  height: 100%;
  width: 100%;
}
.panel .arrow_containter div {
  cursor: pointer;
  position: absolute;
  left: 22%;
  top: 18%;
  width: 54%;
  height: 61%;
}
.panel h1 {
  text-align: center;
  font-weight: 500;
}

.cards_container {
  width: 100vw;
  padding: 10px;
  display: flex;
  margin-bottom: 200px;
}
.cards_container .left_column {
  display: flex;
  flex-direction: column;
  padding-right: 5px;
}
.cards_container .right_column {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}
.card {
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: var(--helio-orange);
  padding: 1rem;
  transition: color 0.15s ease, border-color 0.15s ease;
}
.card:hover,
.card:focus,
.card:active {
  background-color: var(--helio-orange-light);
}
.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}
.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* @media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */
